<html>

<head>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <meta name=Generator content="Microsoft Word 15 (filtered)">
    <style>
        html {
            @media print {
                @page {
                    size: landscape
                }
            }
        }

        /* Font Definitions */
        @font-face {
            font-family: Wingdings;
            panose-1: 5 0 0 0 0 0 0 0 0 0;
        }

        @font-face {
            font-family: "Cambria Math";
            panose-1: 2 4 5 3 5 4 6 3 2 4;
        }

        @font-face {
            font-family: Calibri;
            panose-1: 2 15 5 2 2 2 4 3 2 4;
        }

        @font-face {
            font-family: Georgia;
            panose-1: 2 4 5 2 5 4 5 2 3 3;
        }

        @font-face {
            font-family: Tahoma;
            panose-1: 2 11 6 4 3 5 4 4 2 4;
        }

        /* Style Definitions */
        p.MsoNormal,
        li.MsoNormal,
        div.MsoNormal {
            margin-top: 0in;
            margin-right: 0in;
            margin-bottom: 10.0pt;
            margin-left: 0in;
            line-height: 115%;
            font-size: 11.0pt;
            font-family: "Calibri", sans-serif;
        }

        .MsoChpDefault {
            font-family: "Calibri", sans-serif;
        }

        @page WordSection1 {
            size: 8.6in 12.5in;
            margin: .25in .5in 12.25pt .5in;
        }

        div.WordSection1 {
            page: WordSection1;
        }

        /* List Definitions */
        ol {
            margin-bottom: 0in;
        }

        ul {
            margin-bottom: 0in;
        }
    </style>

</head>

<body lang=EN-US link=blue vlink="#954F72" style='word-wrap:break-word'>

    <div class=WordSection1>

        <p class=MsoNormal align=center style='margin-bottom:2.0pt;text-align:center;
line-height:normal'><b><i><span style='font-size:4.0pt;font-family:"Georgia",serif'><img width=729 height=161
                            src="/image001.jpg"></span></i></b></p>

        <p class=MsoNormal align=center style='margin-bottom:2.0pt;text-align:center;
line-height:normal'><b><i><span style='font-size:4.0pt;font-family:"Georgia",serif'>&nbsp;</span></i></b></p>

        <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 style='border-collapse:collapse;border:none'>
            <tr>
                <td width=133 valign=top style='width:99.9pt;border:solid white 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal style='margin-bottom:0in;line-height:normal'><b><i><span
                                    style='font-family:"Georgia",serif'>Academic Year</span></i></b></p>
                </td>
                <td width=84 valign=top style='width:63.0pt;border-top:solid white 1.0pt;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid white 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal style='margin-bottom:0in;line-height:normal'><b><i><span
                                    style='font-family:"Georgia",serif'>&nbsp;</span></i></b></p>
                </td>
                <td width=282 valign=top style='width:211.5pt;border:solid white 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal style='margin-bottom:0in;line-height:normal'><b><i><u><span
                                        style='font-family:"Georgia",serif'>FIRST TERM REPORT SHEET</span></u></i></b>
                    </p>
                </td>
                <td width=144 valign=top style='width:1.5in;border-top:solid white 1.0pt;
  border-left:none;border-bottom:solid white 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal style='margin-bottom:0in;line-height:normal'><b><i><span
                                    style='font-family:"Georgia",serif'>Admission No</span></i></b></p>
                </td>
                <td width=79 valign=top style='width:59.4pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal style='margin-bottom:0in;line-height:normal'><b><i><span
                                    style='font-family:"Georgia",serif'>FGMS190811220</span></i></b></p>
                </td>
            </tr>
        </table>

        <p class=MsoNormal style='margin-bottom:0in;line-height:normal'><b><i><span
                        style='font-size:3.0pt;font-family:"Georgia",serif'>&nbsp;</span></i></b></p>

        <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 style='border-collapse:collapse;border:none'>
            <tr>
                <td width=147 valign=top style='width:110.55pt;border:solid white 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal style='margin-bottom:0in;line-height:normal'><b><i><span
                                    style='font-family:"Georgia",serif'>Name of Student:</span></i></b></p>
                </td>
                <td width=424 valign=top style='width:317.85pt;border-top:solid white 1.0pt;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid white 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal style='margin-bottom:0in;line-height:normal'><b><i><span
                                    style='font-family:"Georgia",serif'>Shonibare Wasiu Olalekan</span></i></b></p>
                </td>
                <td width=96 valign=top style='width:1.0in;border-top:solid white 1.0pt;
  border-left:none;border-bottom:solid white 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal style='margin-bottom:0in;line-height:normal'><b><i><span
                                    style='font-family:"Georgia",serif'>Class:</span></i></b></p>
                </td>
                <td width=55 valign=top style='width:41.4pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal style='margin-bottom:0in;line-height:normal'><b><i><span
                                    style='font-family:"Georgia",serif'>JSS3</span></i></b></p>
                </td>
            </tr>
            <tr>
                <td width=147 valign=top style='width:110.55pt;border:solid white 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal style='margin-bottom:0in;line-height:normal'><b><i><span
                                    style='font-family:"Georgia",serif'>&nbsp;</span></i></b></p>
                </td>
                <td width=424 valign=top style='width:317.85pt;border-top:none;border-left:
  none;border-bottom:solid white 1.0pt;border-right:solid white 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal style='margin-bottom:0in;line-height:normal'><b><i><span
                                    style='font-size:7.0pt;font-family:"Georgia",serif'>                                  
                                    (Surname)                                     (Other Names)</span></i></b></p>
                </td>
                <td width=96 valign=top style='width:1.0in;border-top:none;border-left:none;
  border-bottom:solid white 1.0pt;border-right:solid white 1.0pt;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal style='margin-bottom:0in;line-height:normal'><b><i><span
                                    style='font-family:"Georgia",serif'>&nbsp;</span></i></b></p>
                </td>
                <td width=55 valign=top style='width:41.4pt;border-top:none;border-left:none;
  border-bottom:solid white 1.0pt;border-right:solid white 1.0pt;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal style='margin-bottom:0in;line-height:normal'><b><i><span
                                    style='font-family:"Georgia",serif'>&nbsp;</span></i></b></p>
                </td>
            </tr>
        </table>

        <ol style='margin-top:0in' start=1 type=1>
            <li class=MsoNormal style='margin-bottom:2.0pt;text-align:center;line-height:
     normal'><b><span style='font-size:9.5pt;font-family:"Georgia",serif'>ATTENDANCE</span></b></li>
        </ol>

        <p class=MsoNormal align=center style='margin-top:0in;margin-right:0in;
margin-bottom:2.0pt;margin-left:.25in;text-align:center;line-height:normal'><b><span
                    style='font-size:9.5pt;font-family:"Georgia",serif'>(Regularity &amp;
                    Punctuality)</span></b></p>

        <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0
            style='margin-left:.9pt;border-collapse:collapse;border:none'>
            <tr>
                <td width=316 style='width:236.85pt;border:solid windowtext 1.0pt;padding:
  0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal style='margin-bottom:2.0pt;line-height:normal'><span
                            style='font-size:11.5pt;font-family:"Georgia",serif'>&nbsp;</span></p>
                </td>
                <td width=110 style='width:82.45pt;border:solid windowtext 1.0pt;border-left:
  none;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal align=center style='margin-bottom:2.0pt;text-align:center;
  line-height:normal'><b><span style='font-size:8.5pt;font-family:"Georgia",serif'>School</span></b></p>
                </td>
                <td width=144 style='width:108.25pt;border:solid windowtext 1.0pt;border-left:
  none;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal align=center style='margin-bottom:2.0pt;text-align:center;
  line-height:normal'><b><span style='font-size:8.5pt;font-family:"Georgia",serif'>Sport
                                &amp; Athletics</span></b></p>
                </td>
                <td width=178 style='width:133.85pt;border:solid windowtext 1.0pt;border-left:
  none;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal align=center style='margin-bottom:2.0pt;text-align:center;
  line-height:normal'><b><span style='font-size:8.5pt;font-family:"Georgia",serif'>Other
                                Organized Activities</span></b></p>
                </td>
            </tr>
            <tr>
                <td width=316 style='width:236.85pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal style='margin-bottom:2.0pt;line-height:normal'><b><span
                                style='font-size:8.5pt;font-family:"Georgia",serif'>No of Times School
                                Opened/Activities Held</span></b></p>
                </td>
                <td width=110 valign=bottom style='width:82.45pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal style='margin-bottom:2.0pt;line-height:normal'><span
                            style='font-size:8.5pt;font-family:"Georgia",serif'>&nbsp;</span></p>
                </td>
                <td width=144 valign=bottom style='width:108.25pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal style='margin-bottom:2.0pt;line-height:normal'><span
                            style='font-size:8.5pt;font-family:"Georgia",serif'>&nbsp;</span></p>
                </td>
                <td width=178 valign=bottom style='width:133.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal style='margin-bottom:2.0pt;line-height:normal'><span
                            style='font-size:8.5pt;font-family:"Georgia",serif'>&nbsp;</span></p>
                </td>
            </tr>
            <tr>
                <td width=316 style='width:236.85pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal style='margin-bottom:2.0pt;line-height:normal'><b><span
                                style='font-size:8.5pt;font-family:"Georgia",serif'>No of Times Present</span></b></p>
                </td>
                <td width=110 valign=bottom style='width:82.45pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal style='margin-bottom:2.0pt;line-height:normal'><span
                            style='font-size:8.5pt;font-family:"Georgia",serif'>&nbsp;</span></p>
                </td>
                <td width=144 valign=bottom style='width:108.25pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal style='margin-bottom:2.0pt;line-height:normal'><span
                            style='font-size:8.5pt;font-family:"Georgia",serif'>&nbsp;</span></p>
                </td>
                <td width=178 valign=bottom style='width:133.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal style='margin-bottom:2.0pt;line-height:normal'><span
                            style='font-size:8.5pt;font-family:"Georgia",serif'>&nbsp;</span></p>
                </td>
            </tr>
            <tr>
                <td width=316 style='width:236.85pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal style='margin-bottom:2.0pt;line-height:normal'><b><span
                                style='font-size:8.5pt;font-family:"Georgia",serif'>No of Times Absent</span></b></p>
                </td>
                <td width=110 valign=bottom style='width:82.45pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal style='margin-bottom:2.0pt;line-height:normal'><span
                            style='font-size:8.5pt;font-family:"Georgia",serif'>&nbsp;</span></p>
                </td>
                <td width=144 valign=bottom style='width:108.25pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal style='margin-bottom:2.0pt;line-height:normal'><span
                            style='font-size:8.5pt;font-family:"Georgia",serif'>&nbsp;</span></p>
                </td>
                <td width=178 valign=bottom style='width:133.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal style='margin-bottom:2.0pt;line-height:normal'><span
                            style='font-size:8.5pt;font-family:"Georgia",serif'>&nbsp;</span></p>
                </td>
            </tr>
            <tr>
                <td width=316 style='width:236.85pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal style='margin-bottom:2.0pt;line-height:normal'><b><span
                                style='font-size:8.5pt;font-family:"Georgia",serif'>No of Times Punctual</span></b></p>
                </td>
                <td width=110 valign=bottom style='width:82.45pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal style='margin-bottom:2.0pt;line-height:normal'><span
                            style='font-size:8.5pt;font-family:"Georgia",serif'>&nbsp;</span></p>
                </td>
                <td width=144 valign=bottom style='width:108.25pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal style='margin-bottom:2.0pt;line-height:normal'><span
                            style='font-size:8.5pt;font-family:"Georgia",serif'>&nbsp;</span></p>
                </td>
                <td width=178 valign=bottom style='width:133.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal style='margin-bottom:2.0pt;line-height:normal'><span
                            style='font-size:8.5pt;font-family:"Georgia",serif'>&nbsp;</span></p>
                </td>
            </tr>
        </table>

        <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:2.0pt;
margin-left:.25in;line-height:normal'><b><span style='font-size:4.0pt;
font-family:"Georgia",serif'>&nbsp;</span></b></p>

        <ol style='margin-top:0in' start=2 type=1>
            <li class=MsoNormal style='margin-bottom:2.0pt;text-align:center;line-height:
     normal'><b><span style='font-size:9.5pt;font-family:"Georgia",serif'>CONDUCT</span></b></li>
        </ol>

        <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:2.0pt;
margin-left:.25in;line-height:normal'><b><span style='font-size:9.5pt;
font-family:"Georgia",serif'>Special Reports During the Term</span></b></p>

        <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=750
            style='margin-left:.9pt;border-collapse:collapse;border:none'>
            <tr>
                <td width=240 colspan=2 style='width:2.5in;border:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal align=center style='margin-bottom:2.0pt;text-align:center;
  line-height:normal'><b><span style='font-size:8.5pt;font-family:"Georgia",serif'>GREEN
                                for Exemplary Conduct</span></b></p>
                </td>
                <td width=180 style='width:135.0pt;border:solid windowtext 1.0pt;border-left:
  none;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal align=center style='margin-bottom:2.0pt;text-align:center;
  line-height:normal'><b><span style='font-size:8.5pt;font-family:"Georgia",serif'>RED
                                for Bad Conduct</span></b></p>
                </td>
                <td width=78 valign=bottom style='width:58.5pt;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:solid white 1.0pt;border-right:solid white 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal style='margin-bottom:2.0pt;line-height:normal'><b><span
                                style='font-size:8.5pt;font-family:"Georgia",serif'>Comments</span></b></p>
                </td>
                <td width=252 valign=bottom style='width:189.0pt;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:solid white 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal style='margin-bottom:2.0pt;line-height:normal'><b><span
                                style='font-size:7.5pt;font-family:"Georgia",serif'>&nbsp;</span></b></p>
                </td>
            </tr>
            <tr>
                <td width=120 style='width:1.25in;border:solid windowtext 1.0pt;border-top:
  none;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal align=center style='margin-bottom:2.0pt;text-align:center;
  line-height:normal'><span style='font-size:8.5pt;font-family:"Georgia",serif'>Number</span></p>
                </td>
                <td width=120 style='width:1.25in;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal align=center style='margin-bottom:2.0pt;text-align:center;
  line-height:normal'><span style='font-size:8.5pt;font-family:"Georgia",serif'>Deed</span></p>
                </td>
                <td width=180 style='width:135.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal align=center style='margin-bottom:2.0pt;text-align:center;
  line-height:normal'><span style='font-size:8.5pt;font-family:"Georgia",serif'>Number</span></p>
                </td>
                <td width=330 colspan=2 rowspan=2 valign=top style='width:247.5pt;border-top:
  none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal style='margin-bottom:2.0pt;line-height:normal'><span
                            style='font-size:14.5pt;font-family:"Georgia",serif'>&nbsp;</span></p>
                </td>
            </tr>
            <tr style='height:13.45pt'>
                <td width=120 valign=bottom style='width:1.25in;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt;height:13.45pt'>
                    <p class=MsoNormal style='margin-bottom:2.0pt;line-height:normal'><span
                            style='font-size:8.0pt;font-family:"Georgia",serif'>&nbsp;</span></p>
                </td>
                <td width=120 valign=bottom style='width:1.25in;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:13.45pt'>
                    <p class=MsoNormal style='margin-bottom:2.0pt;line-height:normal'><span
                            style='font-size:8.0pt;font-family:"Georgia",serif'>&nbsp;</span></p>
                </td>
                <td width=180 valign=bottom style='width:135.0pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:13.45pt'>
                    <p class=MsoNormal style='margin-bottom:2.0pt;line-height:normal'><span
                            style='font-size:8.0pt;font-family:"Georgia",serif'>&nbsp;</span></p>
                </td>
            </tr>
        </table>

        <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:2.0pt;
margin-left:.5in;line-height:normal'><b><span style='font-size:4.0pt;
font-family:"Georgia",serif'>&nbsp;</span></b></p>

        <ol style='margin-top:0in' start=3 type=1>
            <li class=MsoNormal style='margin-bottom:2.0pt;text-align:center;line-height:
     normal'><b><span style='font-size:9.5pt;font-family:"Georgia",serif'>PHYSICAL
                        DEVELOPMENT, HEALTH AND CLEANLINESS</span></b></li>
        </ol>

        <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=750
            style='margin-left:.9pt;border-collapse:collapse;border:none'>
            <tr>
                <td width=174 colspan=3 style='width:130.6pt;border:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal align=center style='margin-bottom:2.0pt;text-align:center;
  line-height:normal'><b><span style='font-size:8.5pt;font-family:"Georgia",serif'>Height</span></b></p>
                </td>
                <td width=174 colspan=2 style='width:130.5pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal align=center style='margin-bottom:2.0pt;text-align:center;
  line-height:normal'><b><span style='font-size:8.5pt;font-family:"Georgia",serif'>Weight</span></b></p>
                </td>
                <td width=204 colspan=3 style='width:152.95pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal align=center style='margin-bottom:2.0pt;text-align:center;
  line-height:normal'><b><span style='font-size:8.5pt;font-family:"Georgia",serif'>No
                                of Days Absent Due to Illness</span></b></p>
                </td>
                <td width=198 style='width:148.45pt;border:solid windowtext 1.0pt;border-left:
  none;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal align=center style='margin-bottom:2.0pt;text-align:center;
  line-height:normal'><b><span style='font-size:8.5pt;font-family:"Georgia",serif'>Nature
                                of Illness</span></b></p>
                </td>
            </tr>
            <tr style='height:17.95pt'>
                <td width=84 style='width:63.0pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0in 5.4pt 0in 5.4pt;height:17.95pt'>
                    <p class=MsoNormal align=center style='margin-bottom:2.0pt;text-align:center;
  line-height:normal'><b><span style='font-size:8.0pt;font-family:"Georgia",serif'>Beginning
                                of Term</span></b></p>
                </td>
                <td width=90 colspan=2 style='width:67.6pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:17.95pt'>
                    <p class=MsoNormal align=center style='margin-bottom:2.0pt;text-align:center;
  line-height:normal'><b><span style='font-size:8.0pt;font-family:"Georgia",serif'>End
                                of Term</span></b></p>
                </td>
                <td width=84 style='width:63.0pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;
  height:17.95pt'>
                    <p class=MsoNormal align=center style='margin-bottom:2.0pt;text-align:center;
  line-height:normal'><b><span style='font-size:8.0pt;font-family:"Georgia",serif'>Beginning
                                of Term</span></b></p>
                </td>
                <td width=90 style='width:67.5pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;
  height:17.95pt'>
                    <p class=MsoNormal align=center style='margin-bottom:2.0pt;text-align:center;
  line-height:normal'><b><span style='font-size:8.0pt;font-family:"Georgia",serif'>End
                                of Term</span></b></p>
                </td>
                <td width=204 colspan=3 valign=bottom style='width:152.95pt;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:17.95pt'>
                    <p class=MsoNormal style='margin-bottom:2.0pt;line-height:normal'><b><span
                                style='font-size:11.5pt;font-family:"Georgia",serif'>&nbsp;</span></b></p>
                </td>
                <td width=198 valign=bottom style='width:148.45pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:17.95pt'>
                    <p class=MsoNormal style='margin-bottom:2.0pt;line-height:normal'><b><span
                                style='font-size:8.5pt;font-family:"Georgia",serif'>&nbsp;</span></b></p>
                </td>
            </tr>
            <tr>
                <td width=84 style='width:63.0pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal align=right style='margin-bottom:2.0pt;text-align:right;
  line-height:normal'><b><span style='font-size:8.5pt;font-family:"Georgia",serif'>m</span></b></p>
                </td>
                <td width=90 colspan=2 style='width:67.6pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal align=right style='margin-bottom:2.0pt;text-align:right;
  line-height:normal'><b><span style='font-size:8.5pt;font-family:"Georgia",serif'>m</span></b></p>
                </td>
                <td width=84 style='width:63.0pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal align=right style='margin-bottom:2.0pt;text-align:right;
  line-height:normal'><b><span style='font-size:8.5pt;font-family:"Georgia",serif'>kg</span></b></p>
                </td>
                <td width=90 style='width:67.5pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal align=right style='margin-bottom:2.0pt;text-align:right;
  line-height:normal'><b><span style='font-size:8.5pt;font-family:"Georgia",serif'>kg</span></b></p>
                </td>
                <td width=204 colspan=3 valign=bottom style='width:152.95pt;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal style='margin-bottom:2.0pt;line-height:normal'><b><span
                                style='font-size:11.5pt;font-family:"Georgia",serif'>&nbsp;</span></b></p>
                </td>
                <td width=198 valign=bottom style='width:148.45pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal style='margin-bottom:2.0pt;line-height:normal'><b><span
                                style='font-size:11.5pt;font-family:"Georgia",serif'>&nbsp;</span></b></p>
                </td>
            </tr>
            <tr style='height:19.3pt'>
                <td width=124 colspan=2 valign=bottom style='width:92.95pt;border-top:none;
  border-left:solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;
  border-right:solid white 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:19.3pt'>
                    <p class=MsoNormal style='margin-bottom:0in;line-height:normal'><b><span
                                style='font-size:8.5pt;font-family:"Georgia",serif'>Cleanliness Rating</span></b></p>
                </td>
                <td width=290 colspan=4 valign=top style='width:217.55pt;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:19.3pt'>
                    <p class=MsoNormal style='margin-bottom:0in;line-height:normal'><b><span
                                style='font-size:8.5pt;font-family:"Georgia",serif'>&nbsp;</span></b></p>
                    <p class=MsoNormal style='margin-bottom:2.0pt;line-height:normal'><b><span
                                style='font-size:8.5pt;font-family:"Georgia",serif'>&nbsp;</span></b></p>
                </td>
                <td width=78 valign=bottom style='width:58.5pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid white 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:19.3pt'>
                    <p class=MsoNormal style='margin-bottom:2.0pt;line-height:normal'><b><span
                                style='font-size:8.5pt;font-family:"Georgia",serif'>Remarks</span></b></p>
                </td>
                <td width=258 colspan=2 valign=top style='width:193.5pt;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:19.3pt'>
                    <p class=MsoNormal style='margin-bottom:0in;line-height:normal'><b><span
                                style='font-size:8.5pt;font-family:"Georgia",serif'>&nbsp;</span></b></p>
                    <p class=MsoNormal style='margin-bottom:2.0pt;line-height:normal'><b><span
                                style='font-size:8.5pt;font-family:"Georgia",serif'>&nbsp;</span></b></p>
                </td>
            </tr>
            <tr height=0>
                <td width=84 style='border:none'></td>
                <td width=40 style='border:none'></td>
                <td width=50 style='border:none'></td>
                <td width=84 style='border:none'></td>
                <td width=90 style='border:none'></td>
                <td width=66 style='border:none'></td>
                <td width=78 style='border:none'></td>
                <td width=60 style='border:none'></td>
                <td width=198 style='border:none'></td>
            </tr>
        </table>

        <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:2.0pt;
margin-left:.5in;line-height:normal'><b><span style='font-size:4.0pt;
font-family:"Georgia",serif'>&nbsp;</span></b></p>

        <ol style='margin-top:0in' start=4 type=1>
            <li class=MsoNormal style='margin-bottom:2.0pt;text-align:center;line-height:
     normal'><b><span style='font-size:9.5pt;font-family:"Georgia",serif'>PERFORMANCE
                        IN SUBJECTS</span></b></li>
        </ol>
        <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=749
            style='margin-left:.9pt;border-collapse:collapse;border:none'>
            <tr style='page-break-inside:avoid;height:40.0pt'>
                <td width=10 colspan=2 valign=top style='width:300px;border:solid windowtext 1.0pt;
                padding:0in 5.4pt 0in 5.4pt;height:10pt'>
                    <p class=MsoNormal style='margin-bottom:2.0pt;line-height:normal'><b><span
                                style='font-size:11.5pt;font-family:"Georgia",serif'>&nbsp;</span></b></p>
                </td>
                <td width=36 valign=top style='width:100px;border:solid windowtext 1.0pt;
                border-left:none;padding:0in 5.4pt 0in 5.4pt;height:10pt'>
                    <p class=MsoNormal style='margin-top:0in;margin-right:5.65pt;margin-bottom:
                2.0pt;margin-left:5.65pt;line-height:normal'><b><span style='font-size:7.5pt;
                font-family:"Georgia",serif'>Cont. Asses. Scores</span></b></p>
                    <p class=MsoNormal style='margin-top:0in;margin-right:5.65pt;margin-bottom:
                2.0pt;margin-left:5.65pt;line-height:normal'><b><span style='font-size:7.5pt;
                font-family:"Georgia",serif'>&nbsp;</span></b></p>
                </td>
                <td width=36 valign=top style='width:100px;border:solid windowtext 1.0pt;
                border-left:none;padding:0in 5.4pt 0in 5.4pt;height:10pt'>
                    <p class=MsoNormal style='margin-top:0in;margin-right:5.65pt;margin-bottom:
                2.0pt;margin-left:5.65pt;line-height:normal'><b><span style='font-size:7.5pt;
                font-family:"Georgia",serif'>Sum. Test. Scores (if any)</span></b></p>
                    <p class=MsoNormal style='margin-top:0in;margin-right:5.65pt;margin-bottom:
                2.0pt;margin-left:5.65pt;line-height:normal'><b><span style='font-size:7.5pt;
                font-family:"Georgia",serif'>&nbsp;</span></b></p>
                </td>
                <td width=36 valign=top style='width:100px;border:solid windowtext 1.0pt;
                border-left:none;padding:0in 5.4pt 0in 5.4pt;height:10pt'>
                    <p class=MsoNormal style='margin-top:0in;margin-right:5.65pt;margin-bottom:
                2.0pt;margin-left:5.65pt;line-height:normal'><b><span style='font-size:7.5pt;
                font-family:"Georgia",serif'>Total (Weighted Average)</span></b></p>
                    <p class=MsoNormal style='margin-top:0in;margin-right:5.65pt;margin-bottom:
                2.0pt;margin-left:5.65pt;line-height:normal'><b><span style='font-size:7.5pt;
                font-family:"Georgia",serif'>&nbsp;</span></b></p>
                </td>
            </tr>

            <!-- LIST OF SUBJECTS -->
            <tr style='height:13.9pt'>
                <td width=156 colspan=2 valign=bottom style='width:116.75pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt;height:13.9pt'>
                    <p class=MsoNormal style='margin-bottom:2.0pt;line-height:normal'><b><span
                                style='font-size:9pt;font-family:"Georgia",serif'>Max. Obtainable</span></b></p>
                </td>
                <td width=36 valign=bottom style='width:26.9pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:13.9pt'>
                    <p class=MsoNormal style='margin-bottom:2.0pt;line-height:normal; text-align: center;'><b><span
                                style='font-size:9pt;font-family:"Georgia",serif'>40</span></b></p>
                </td>
                <td width=28 valign=bottom style='width:20.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:13.9pt;text-align: center'>
                    <p class=MsoNormal style='margin-bottom:2.0pt;line-height:normal'><b><span
                                style='font-size:9pt;font-family:"Georgia",serif; text-align: center;'>60</span></b>
                    </p>
                </td>
                <td width=28 valign=bottom style='width:20.9pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:13.9pt; text-align: center;'>
                    <p class=MsoNormal style='margin-bottom:2.0pt;line-height:normal'><b><span
                                style='font-size:9pt;font-family:"Georgia",serif'>100</span></b></p>
                </td>
            </tr>

            mapped subjects here
            <tr style='height:13.9pt'>
                <td width=156 colspan=2 valign=bottom style='width:116.75pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt;height:13.9pt'>
                    <p class=MsoNormal style='margin-bottom:2.0pt;line-height:normal'><b><span
                                style='font-size:8pt;font-family:"Georgia",serif'>English Language</span></b></p>
                </td>
                <td width=36 valign=bottom style='width:26.9pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:13.9pt'>
                    <p class=MsoNormal style='margin-bottom:2.0pt;line-height:normal; text-align: center;'><b><span
                                style='font-size:9pt;font-family:"Georgia",serif'>30</span></b></p>
                </td>
                <td width=28 valign=bottom style='width:20.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:13.9pt; text-align: center;'>
                    <p class=MsoNormal style='margin-bottom:2.0pt;line-height:normal'><b><span
                                style='font-size:9pt;font-family:"Georgia",serif; text-align: center;'>50</span></b>
                    </p>
                </td>
                <td width=28 valign=bottom style='width:20.9pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:13.9pt; text-align: center;'>
                    <p class=MsoNormal style='margin-bottom:2.0pt;line-height:normal'><b><span
                                style='font-size:9pt;font-family:"Georgia",serif'>80</span></b></p>
                </td>
            </tr>

            <tr style='height:18.4pt'>
                <td width=155 valign=bottom style='width:116.35pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt;height:18.4pt'>
                    <p class=MsoNormal style='margin-bottom:2.0pt;line-height:normal'><b><span
                                style='font-size:7.5pt;font-family:"Georgia",serif'>Average (%)</span></b></p>
                </td>

                <td width=140 colspan=5 valign=bottom style='width:104.65pt;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:18.4pt'>
                    <p class=MsoNormal style='margin-bottom:2.0pt;line-height:normal'><b><span
                                style='font-size:7.5pt;font-family:"Georgia",serif'>Position</span></b></p>
                </td>
            </tr>
            <tr style='height:18.4pt'>
                <td width=155 valign=bottom style='width:116.35pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt;height:18.4pt'>
                    <p class=MsoNormal style='margin-bottom:2.0pt;line-height:normal'><b><span
                                style='font-size:7.5pt;font-family:"Georgia",serif'>No. of students</span></b></p>
                </td>
            </tr>
        </table>
        <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:2.0pt;
margin-left:.5in;line-height:normal'><b><span style='font-size:4.0pt;
font-family:"Georgia",serif'>&nbsp;</span></b></p>

        <!-- SPORT SECTION -->
        <ol style='margin-top:0in' start=5 type=1>
            <li class=MsoNormal style='margin-bottom:2.0pt;text-align:center;line-height:
     normal'><b><span style='font-size:9.5pt;font-family:"Georgia",serif'>SPORT</span></b></li>
        </ol>

        <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=748
            style='width:561.0pt;margin-left:.9pt;border-collapse:collapse;border:none'>
            <tr>
                <td width=177 valign=bottom style='width:132.5pt;border:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal align=center style='margin-bottom:2.0pt;text-align:center;
  line-height:normal'><b><span style='font-size:8.5pt;font-family:"Georgia",serif'>Events</span></b></p>
                </td>
                <td width=114 valign=bottom style='width:85.7pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal align=center style='margin-bottom:2.0pt;text-align:center;
  line-height:normal'><b><span style='font-size:8.5pt;font-family:"Georgia",serif'>Ball
                                Games</span></b></p>
                </td>
                <td width=114 valign=bottom style='width:85.7pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal align=center style='margin-bottom:2.0pt;text-align:center;
  line-height:normal'><b><span style='font-size:8.5pt;font-family:"Georgia",serif'>Track</span></b></p>
                </td>
                <td width=114 valign=bottom style='width:85.7pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal align=center style='margin-bottom:2.0pt;text-align:center;
  line-height:normal'><b><span style='font-size:8.5pt;font-family:"Georgia",serif'>Throws</span></b></p>
                </td>
                <td width=114 valign=top style='width:85.7pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal align=center style='margin-bottom:2.0pt;text-align:center;
  line-height:normal'><b><span style='font-size:8.5pt;font-family:"Georgia",serif'>Swimming</span></b></p>
                </td>
                <td width=114 valign=bottom style='width:85.7pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal align=center style='margin-bottom:2.0pt;text-align:center;
  line-height:normal'><b><span style='font-size:8.5pt;font-family:"Georgia",serif'>Jumps</span></b></p>
                </td>
            </tr>
            <tr style='height:11.65pt'>
                <td width=177 valign=bottom style='width:132.5pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt;height:11.65pt'>
                    <p class=MsoNormal style='margin-bottom:2.0pt;line-height:normal'><b><span
                                style='font-size:8.5pt;font-family:"Georgia",serif'>Level Attained</span></b></p>
                </td>
                <td width=114 valign=top style='width:85.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:11.65pt'>
                    <p class=MsoNormal style='margin-bottom:2.0pt;line-height:normal'><b><span
                                style='font-size:8.5pt;font-family:"Georgia",serif'>&nbsp;</span></b></p>
                </td>
                <td width=114 valign=top style='width:85.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:11.65pt'>
                    <p class=MsoNormal style='margin-bottom:2.0pt;line-height:normal'><b><span
                                style='font-size:8.5pt;font-family:"Georgia",serif'>&nbsp;</span></b></p>
                </td>
                <td width=114 valign=top style='width:85.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:11.65pt'>
                    <p class=MsoNormal style='margin-bottom:2.0pt;line-height:normal'><b><span
                                style='font-size:8.5pt;font-family:"Georgia",serif'>&nbsp;</span></b></p>
                </td>
                <td width=114 valign=top style='width:85.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:11.65pt'>
                    <p class=MsoNormal style='margin-bottom:2.0pt;line-height:normal'><b><span
                                style='font-size:8.5pt;font-family:"Georgia",serif'>&nbsp;</span></b></p>
                </td>
                <td width=114 valign=top style='width:85.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:11.65pt'>
                    <p class=MsoNormal style='margin-bottom:2.0pt;line-height:normal'><b><span
                                style='font-size:8.5pt;font-family:"Georgia",serif'>&nbsp;</span></b></p>
                </td>
            </tr>
            <tr style='height:13.45pt'>
                <td width=748 colspan=6 style='width:561.0pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt;height:13.45pt'>
                    <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:2.0pt;
  margin-left:.5in;line-height:normal'><b><span style='font-size:8.5pt;
  font-family:"Georgia",serif'>A-Excellent           </span></b><b><span
                                style='font-size:8.5pt;font-family:"Georgia",serif'>     </span></b><b><span
                                style='font-size:8.5pt;font-family:"Georgia",serif'>  </span></b><b><span
                                style='font-size:8.5pt;font-family:"Georgia",serif'> </span></b><b><span
                                style='font-size:8.5pt;font-family:"Georgia",serif'>  B-Very Good</span></b><b><span
                                style='font-size:8.5pt;font-family:"Georgia",serif'>               </span></b><b><span
                                style='font-size:8.5pt;font-family:"Georgia",serif'>                  C-Good</span></b><b><span
                                style='font-size:8.5pt;font-family:"Georgia",serif'>                </span></b><b><span
                                style='font-size:8.5pt;font-family:"Georgia",serif'>                D-Fair</span></b><b><span
                                style='font-size:8.5pt;font-family:"Georgia",serif'>       </span></b><b><span
                                style='font-size:8.5pt;font-family:"Georgia",serif'>                                   E-Poor</span></b>
                    </p>
                </td>
            </tr>
        </table>


        <!-- CLUB, YOUTH ORGANIZATION SECTION -->
        <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:2.0pt;
margin-left:.5in;line-height:normal'><b><span style='font-size:4.0pt;
font-family:"Georgia",serif'>&nbsp;</span></b></p>

        <ol style='margin-top:0in' start=6 type=1>
            <li class=MsoNormal style='margin-bottom:2.0pt;text-align:center;line-height:
     normal'><b><span style='font-size:9.5pt;font-family:"Georgia",serif'>CLUBS,
                        YOUTH ORGANIZATION ETC</span></b></li>
        </ol>

        <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=744
            style='width:558.1pt;margin-left:.9pt;border-collapse:collapse;border:none'>
            <tr>
                <td width=163 style='width:1.7in;border:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal align=center style='margin-bottom:2.0pt;text-align:center;
  line-height:normal'><b><span style='font-size:7.5pt;font-family:"Georgia",serif'>Organization</span></b></p>
                </td>
                <td width=163 style='width:1.7in;border:solid windowtext 1.0pt;border-left:
  none;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal align=center style='margin-bottom:2.0pt;text-align:center;
  line-height:normal'><b><span style='font-size:7.5pt;font-family:"Georgia",serif'>Office
                                Held</span></b></p>
                </td>
                <td width=418 style='width:313.3pt;border:solid windowtext 1.0pt;border-left:
  none;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal align=center style='margin-bottom:2.0pt;text-align:center;
  line-height:normal'><b><span style='font-size:7.5pt;font-family:"Georgia",serif'>Significant
                                Contribution</span></b></p>
                </td>
            </tr>
            <tr>
                <td width=163 valign=top style='width:1.7in;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal style='margin-bottom:2.0pt;line-height:normal'><b><span
                                style='font-size:11.5pt;font-family:"Georgia",serif'>&nbsp;</span></b></p>
                </td>
                <td width=163 valign=top style='width:1.7in;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal style='margin-bottom:2.0pt;line-height:normal'><b><span
                                style='font-size:11.5pt;font-family:"Georgia",serif'>&nbsp;</span></b></p>
                </td>
                <td width=418 valign=top style='width:313.3pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal style='margin-bottom:2.0pt;line-height:normal'><b><span
                                style='font-size:11.5pt;font-family:"Georgia",serif'>&nbsp;</span></b></p>
                </td>
            </tr>
        </table>

        <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.25in;line-height:normal'><b><span style='font-size:5.0pt;
font-family:"Georgia",serif'>&nbsp;</span></b></p>

        <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0
            style='margin-left:.9pt;border-collapse:collapse;border:none'>
            <tr style='height:21.75pt'>
                <td width=203 rowspan=2 style='width:152.05pt;border:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:21.75pt'>
                    <p class=MsoNormal style='margin-bottom:0in;line-height:normal'><b><span
                                style='font-size:9.5pt;font-family:"Georgia",serif'>Class Teacher’s Comments</span></b>
                    </p>
                </td>
                <td width=540 colspan=2 valign=top style='width:405.05pt;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:none;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:21.75pt'>
                    <p class=MsoNormal style='margin-bottom:0in;line-height:normal'><b><span
                                style='font-size:9.5pt;font-family:"Georgia",serif'>&nbsp;</span></b></p>
                    <p class=MsoNormal style='margin-bottom:0in;line-height:normal'><b><span
                                style='font-size:9.5pt;font-family:"Georgia",serif'>&nbsp;</span></b></p>
                </td>
            </tr>
            <tr style='height:10.05pt'>
                <td width=180 valign=top style='width:134.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:10.05pt'>
                    <p class=MsoNormal style='margin-bottom:0in;line-height:normal'><b><span
                                style='font-size:9.5pt;font-family:"Georgia",serif'>&nbsp;</span></b></p>
                </td>
                <td width=360 style='width:270.1pt;border-top:solid windowtext 1.0pt;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:10.05pt'>
                    <p class=MsoNormal style='margin-bottom:0in;line-height:normal'><b><span
                                style='font-size:4.0pt;font-family:"Georgia",serif'>&nbsp;</span></b></p>
                    <p class=MsoNormal style='margin-bottom:0in;line-height:normal'><b><span
                                style='font-size:9.5pt;font-family:"Georgia",serif'>Signature/Date:                               
                            </span></b></p>
                </td>
            </tr>
            <tr style='height:22.6pt'>
                <td width=383 colspan=2 rowspan=2 style='width:287.0pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt;height:22.6pt'>
                    <p class=MsoNormal style='margin-bottom:0in;line-height:normal'><b><span
                                style='font-size:9.5pt;font-family:"Georgia",serif'>Principal’s/Head
                                Teacher’s/Master’s</span></b><b><span style='font-size:9.5pt;font-family:
  "Georgia",serif'> Comments</span></b></p>
                    <p class=MsoNormal style='margin-bottom:0in;line-height:normal'><b><span
                                style='font-size:9.5pt;font-family:"Georgia",serif'>&nbsp;</span></b></p>
                </td>
                <td width=360 valign=top style='width:270.1pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:22.6pt'>
                    <p class=MsoNormal style='margin-bottom:0in;line-height:normal'><b><span
                                style='font-size:9.5pt;font-family:"Georgia",serif'>&nbsp;</span></b></p>
                    <p class=MsoNormal style='margin-bottom:0in;line-height:normal'><b><span
                                style='font-size:9.5pt;font-family:"Georgia",serif'>&nbsp;</span></b></p>
                </td>
            </tr>
            <tr style='height:9.2pt; position: relative'>
                <td width=360 valign=top style='width:270.1pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:9.2pt'>
                    <p class=MsoNormal style='margin-bottom:0in;line-height:normal'><b><span
                                style='font-size:9.5pt;font-family:"Georgia",serif'>Signature &amp; </span></b><b><span
                                style='font-size:9.5pt;font-family:"Georgia",serif'>Date</span></b><b><span
                                style='font-size:9.5pt;font-family:"Georgia",serif'>/School Stamp</span></b></p>

                    <p class=MsoNormal style='margin-bottom:0in;line-height:normal'><b><span
                                style='font-size:9.5pt;font-family:"Georgia",serif'>&nbsp;</span></b></p>
                    <!-- STAMP BG  -->
                    <img src="./firdaus-stamp.jpeg" alt="stamp"
                        style="width:150px; position: absolute; z-index: -1; top: -70px;right: 0; opacity: .75" />
                </td>
            </tr>
            <tr>
                <td width=203 valign=top style='width:152.05pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal style='margin-bottom:0in;line-height:normal'><b><span
                                style='font-size:9.5pt;font-family:"Georgia",serif'>&nbsp;</span></b></p>
                    <p class=MsoNormal style='margin-bottom:0in;line-height:normal'><b><span
                                style='font-size:9.5pt;font-family:"Georgia",serif'>School re-opens</span></b></p>
                </td>
                <td width=540 colspan=2 valign=top style='width:405.05pt;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal style='margin-bottom:0in;line-height:normal'><b><span
                                style='font-size:9.5pt;font-family:"Georgia",serif'>&nbsp;</span></b></p>
                </td>
            </tr>
        </table>

        <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.25in;line-height:normal'><b><span style='font-size:9.5pt;
font-family:"Georgia",serif'>&nbsp;</span></b></p>

        <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.25in;line-height:normal'><b><span style='font-size:9.5pt;
font-family:"Georgia",serif'>&nbsp;</span></b></p>

        <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.25in;line-height:normal'><b><span style='font-size:5.0pt;
font-family:"Georgia",serif'>&nbsp;</span></b></p>

        <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.25in;line-height:normal'><b><span style='font-size:3.0pt;
font-family:"Georgia",serif'>&nbsp;</span></b></p>




    </div>

</body>

</html>